/* src/components/Header.css */
.header {
    background-color: #db93fc; /* Color de fondo */
    display: flex; /* Para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 60px; /* Altura de la barra */
    width: 100%; /* Ancho completo */
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0; /* Alinea el encabezado al borde superior */
    left: 0; /* Alinea el encabezado al borde izquierdo */
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
}

.header-logo {
    max-height: 50px; /* Altura máxima del logo */
    max-width: 100%; /* Ancho máximo del logo */
}
