/* src/components/TestStyles.css */

.test-form {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 6rem auto; /* Aumenta el margen superior para que el formulario baje */
    position: relative;
    top: 350px; /* Opción alternativa: desplaza el formulario hacia abajo */
}

.test-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #4A4A4A;
    text-align: center;
}

.test-category {
    margin-bottom: 2rem;
}

.category-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.test-question {
    margin-bottom: 1.5rem;
    text-align: justify;
}

.question-label {
    font-size: 1.1rem;
    color: #555;
    display: block;
    margin-bottom: 0.5rem;
}

.range-slider {
    width: 100%;
    margin-bottom: 0.5rem;
}

.range-values {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #888;
}

.submit-btn {
    background-color: #6A0DAD;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #5A0B91;
}

.number-input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.submitted-message {
    font-size: 1.3rem;
    color: #28a745;
    text-align: center;
    margin-top: 1.5rem;
}

.test-instructions {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 2rem;
    text-align: justify; /* Cambiado de center a justify */
    line-height: 1.5;
  }
  

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .test-form {
        margin: 8rem auto; /* Ajuste adicional para pantallas más pequeñas */
    }
}
